@model PagedList.IPagedList<IGrouping<string, EntregarAdventureWorksMVCEntityFrameworks.ViewModel.SalesOrderDetailProductJoinViewModel>>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por Nombre: <input id="texto" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <a asp-action="Index">Vuelve a la lista entera</a>
        </p>
    </div>
</form>
<table class="table" id="tableData">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Color
        </th>
        <th>
            CarrierTrackingNumber
        </th>
        <th>
            OrderQty
        </th>
        <th>
            ProductId
        </th>
        <th>
            SpecialOfferId
        </th>
        <th>
            UnitPrice
        </th>
        <th>
            UnitPriceDiscount
        </th>
        <th>
            LineTotal
        </th>
        <th>
            Rowguid
        </th>
        <th>
            ModifiedDate
        </th>
        <th>
            SalesOrder
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
            </tr>
            foreach (var Linea in item)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.CarrierTrackingNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.OrderQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.SpecialOfferId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.UnitPriceDiscount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.LineTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.Rowguid)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.ModifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Linea.SalesOrder.SalesOrderId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new
                        {
                            /* id=item.PrimaryKey */
                        }) |
                        @Html.ActionLink("Details", "Details", new
                        {
                            /* id=item.PrimaryKey */
                        }) |
                        @Html.ActionLink("Delete", "Delete", new
                        {
                            /* id=item.PrimaryKey */
                        })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="d-flex">
    Pagina
    <form asp-action="Index" asp-controller="SalesOrderDetails" class="m-3">
        <input type="hidden" value="@((Model.PageNumber != 1 ? Model.PageNumber - 1 : 1))" name="page" />
        <input type="hidden" name="size" value="@(@ViewBag.Size)" />
        <input type="hidden" name="rango" value="@(@ViewBag.Rango)" />
        <input type="submit" asp-action="Index" asp-controller="SalesOrderDetails" name="page" class="p-3" value="@(Model.PageNumber != 1 ? Model.PageNumber - 1 : 1)">
    </form>

    <form asp-action="Index" asp-controller="SalesOrderDetails" class="m-3">
        <input type="hidden" value="@(Model.PageNumber + 1)" name="page" />
        <input type="hidden" name="size" value="@(@ViewBag.Size)" />
        <input type="hidden" name="rango" value="@(@ViewBag.Rango)" />
        <input type="submit" asp-action="Index" asp-controller="SalesOrderDetails" name="page" class="p-3" value="@(Model.PageNumber + 1)">
    </form>
    <form asp-action="Index" asp-controller="SalesOrderDetailes" class="m-3">
        <input type="number" name="page" />
        <input type="hidden" name="size" value="@(@ViewBag.Size)" />
        <input type="hidden" name="rango" value="@(@ViewBag.Rango)" />
        <input type="submit" asp-action="Index" asp-controller="SalesOrderDetails" name="page" class="p-3" value="Enviar pagina">
    </form>
</div>
<form asp-action="Index" asp-controller="SalesOrderDetailes" class="m-3">
    Escribe la cantidad de filas por pagina: <input type="number" name="size" value="@(ViewBag.Size)" />
    <input type="hidden" name="rango" value="@(@ViewBag.Rango)" />
    <input type="submit" asp-action="Index" asp-controller="SalesOrderDetails" name="size" class="p-3" value="Enviar pagina">
</form>
<form asp-action="Index" asp-controller="SalesOrderDetailes" class="m-3">
    Escribe la cantidad de filas por subpagina: <input id="numFilas" type="number" name="rango" value="@(ViewBag.Rango)" />
    <input type="hidden" name="size" value="@(@ViewBag.Size)" />
    <input type="submit" asp-action="Index" asp-controller="SalesOrderDetails" name="rango" class="p-3" value="Enviar pagina">
</form>
Subpaginas de la pagina
<ul class="pagination pagination-lg pager" id="myPager"></ul>

Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
