@model IEnumerable<IGrouping<string, EntregarAdventureWorksMVCEntityFrameworks.ViewModel.SalesOrderDetailProductJoinViewModel>>
@using Microsoft.EntityFrameworkCore.Storage.ValueConversion
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="IndexVista4" method="get">
    <div class="form-actions no-color">
        <p>
            Busca por Nombre: <input id="texto" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <a asp-action="IndexVista4">Vuelve a la lista entera</a>
        </p>
    </div>
</form>
<div class="d-flex justify-content-around flex-wrap">
    @foreach (var item in Model)
    {
        string color = item.Key == null ? "Sin Color" :  item.Key;
        string textColor = "";
        switch (color)
        {
            case "Black": textColor = "white";
                break;
            case "Blue": textColor = "white";
                break;
            default: textColor = "black";
                break;
        }
        ViewBag.MediadoraColor = color;
        ViewBag.MediadoraTextColor = textColor;
        <form asp-action="IndexVista4" asp-controller="SalesOrderDetails">
            <input type="submit" name="color" style="height: 40px; width: 100px; background-color: @(ViewBag.MediadoraColor); color: @(ViewBag.MediadoraTextColor);" value="@(ViewBag.MediadoraColor)" />
        </form>
    }
</div>
<table class="table" id="tableData">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Color
        </th>
        <th>
            CarrierTrackingNumber
        </th>
        <th>
            OrderQty
        </th>
        <th>
            ProductId
        </th>
        <th>
            SpecialOfferId
        </th>
        <th>
            UnitPrice
        </th>
        <th>
            UnitPriceDiscount
        </th>
        <th>
            LineTotal
        </th>
        <th>
            Rowguid
        </th>
        <th>
            ModifiedDate
        </th>
        <th>
            SalesOrder
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int tamano = ViewBag.Size;
            int pagina = ViewBag.Page;
            int count = (ViewBag.Page - 1) * tamano;
            int totalElementos = 0;
            string elColor = "";
            @foreach (var Linea in item)
            {
                @if ((Linea.Color == null ? "Sin Color" : Linea.Color).Equals(ViewBag.Color == null ? "h" : ViewBag.Color))
                {
                    elColor = Linea.Color == null ? "Sin Color" : Linea.Color;
                    totalElementos++;
                }
                @if (((Linea.Color == null ? "Sin Color" : Linea.Color).Equals(ViewBag.Color) && totalElementos < tamano * (pagina) && count < totalElementos))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.CarrierTrackingNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.OrderQty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.ProductId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.SpecialOfferId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.UnitPriceDiscount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.LineTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.Rowguid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.ModifiedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Linea.SalesOrder.SalesOrderId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new
                            {
                                /* id=item.PrimaryKey */
                            }) |
                            @Html.ActionLink("Details", "Details", new
                            {
                                /* id=item.PrimaryKey */
                            }) |
                            @Html.ActionLink("Delete", "Delete", new
                            {
                                /* id=item.PrimaryKey */
                            })
                        </td>
                    </tr>
                }
            }
            @if(ViewBag.Color.Equals(elColor))ViewBag.Total = (totalElementos / ViewBag.size) + 1;
        }
    </tbody>
</table>
<div class="d-flex">
    Pagina
    <form asp-action="IndexVista4" asp-controller="SalesOrderDetails" class="m-3">
        <input type="hidden" value="@((ViewBag.Page != 1 ? @ViewBag.Page - 1 : 1))" name="page" />
        <input type="hidden" name="size" value="@(@ViewBag.Size)" />
        <input type="hidden" name="total" value="@(@ViewBag.Total)" />
        <input type="hidden" name="color" value="@(@ViewBag.Color)" />
        <input type="submit" asp-action="IndexVista4" asp-controller="SalesOrderDetails" name="page" class="p-3" value="@(ViewBag.Page != 1 ? ViewBag.Page - 1 : 1)">
    </form>

    <form asp-action="IndexVista4" asp-controller="SalesOrderDetails" class="m-3">
        <input type="hidden" value="@(ViewBag.Page + 1)" name="page" />
        <input type="hidden" name="size" value="@(@ViewBag.Size)" />
        <input type="hidden" name="total" value="@(@ViewBag.Total)" />
        <input type="hidden" name="color" value="@(@ViewBag.Color)" />
        <input type="submit" asp-action="IndexVista4" asp-controller="SalesOrderDetails" name="page" class="p-3" value="@(ViewBag.Page + 1)">
    </form>
    <form asp-action="IndexVista4" asp-controller="SalesOrderDetailes" class="m-3">
        <input type="number" name="page" />
        <input type="hidden" name="size" value="@(@ViewBag.Size)" />
        <input type="hidden" name="total" value="@(@ViewBag.Total)" />
        <input type="hidden" name="color" value="@(@ViewBag.Color)" />
        <input type="submit" asp-action="IndexVista4" asp-controller="SalesOrderDetails" name="page" class="p-3" value="Enviar pagina">
    </form>
    <form asp-action="IndexVista4" asp-controller="SalesOrderDetailes" class="m-3">
        Escribe la cantidad de filas por pagina: <input type="number" name="size" value="@(ViewBag.Size)" />
        <input type="hidden" name="total" value="@(@ViewBag.Total)" />
        <input type="hidden" name="color" value="@(@ViewBag.Color)" />
        <input type="hidden" name="page" value="@(@ViewBag.Page)" />
        <input type="submit" asp-action="IndexVista4" asp-controller="SalesOrderDetails" name="size" class="p-3" value="Enviar pagina">
    </form>
</div>
<input type="hidden" value="9999999" id="numFilas" />
Total paginas: @(ViewBag.page) de @(ViewBag.Total)



